<% provide(:title, t(".contact")) %>
<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4"><%= t ".contact" %></h1>
  </div>
  <div>
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"><%= t ".facebook" %></h4>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-lg btn-block btn-primary"><a href="facebook.com"></a><%= t ".click" %></button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"><%= t ".google" %></h4>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-lg btn-block btn-primary"><a href="google.com"></a><%= t ".click" %></button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"><%= t ".youtube" %></h4>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-lg btn-block btn-primary"><a href="youtube.com"></a><%= t ".click" %></button>
      </div>
    </div>
    </div>
  </div>
</div>
